/*
	Please Note:
	Print CSS is intended for a compromise between priting optimisation, and
	good looks on normal mode. This means print CSS isn't quite as good as I
	would have liked.
*/

body {
	background: #FFFFFF;
	font: 12px Arial, Sans-serif;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
a {
	color: #161616;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:active, a:focus {
	outline: none;
}
img {
	border: none;
}
hr {
	height: 1px;
	border: none;
	border-top: 1px solid #EBEBD8;
}
form {
	padding: 0px;
	margin: 0px;
}
input,
select {
	background:	#FFFFFF;
	font: 13px Arial, Sans-serif;
	color: #739EB9;
	margin: 1px;
	padding: 1px 2px;
	border: 1px solid #EBEBD8;
	cursor: pointer;
}
input.check {
	border: none;
	margin: 2px;
}
label {
	margin: 1px 4px;
	cursor: pointer;
}
label.poll {
	position: absolute;
}
input:focus {
	background:	#FCFCF8;
}
input:active {
	padding: 1px 2px;
}
textarea {
	width: 99%;
	font: 13px Arial, Sans-serif;
	color: #161616;
	padding: 1px 2px 0px 0px;
	border: 1px solid #EBEBD8;
}

/* Container */
#container {
	color: #313131;
	margin: 0px 5px;
	text-align: left;
}

/* Company */
#header {
	margin: 0px;
}
#header #company {
	padding: 0px 6px 10px;
}
#header #company .title {
	font-size: 32px;
	color: #000000;
}

/* Top Navigation */
#header #navigation {
	display: none;
}

/* Title */
#title {
	margin: 0px 0px 4px;
	height: 1%; /* IE Hack */
	padding: 5px;
	border-top: 3px double #FFFFFF;
	border-bottom: 3px double #FFFFFF;
	text-align: center;
}
#title .announce {
	background: #FFFFFF;
	font: 75px Arial, Sans-serif;
	color: #739EB9;
}
#title .details {
	background: #FFFFFF;
	font: 28px Arial, Sans-serif;
	color: #517C97;
}

/* Blocks */
#blocks {
	display: none;
}

/* Right Blocks */
#right_blocks {
	display: none;;
}

/* Main */
#main {
	width: 100%;
	float: right;
}
#main.middle {
	width: 100%;
	float: left;
}
#main .article {
	background: #FFFFFF;
	margin: 0px 0px 5px;
	padding: 4px 6px;
	border-top: 1px solid #EBEBD8;
	border-bottom: 3px double #EBEBD8;
}
#main .title {
	font: 18px Arial, Sans-serif;
	color: #161616;
	margin: 0px -2px 4px -7px;
	padding: 0px 4px 2px 7px;
	border-bottom: 1px solid #EBEBD8;
	position: relative; /* IE Hack */
}
#main .title img {
	display: none;
}

/* Button effects */
.button a {
	background-repeat: no-repeat;
	font: 10px Arial, Sans-serif;
	text-align: center;
	text-decoration: none;
	width: 40px;
	margin: 1px 2px;
	padding: 2px;
	border: 1px solid #FFFFFF;
	border-bottom: 1px solid #EBEBD8;
	float: left;
	position: relative; /* IE Hack */
}
.button a:hover {
	background-color: #FCFCF8;
	text-decoration: none;
	border: 1px solid #EBEBD8;
}
.postbit .button a {
	margin: 1px 2px 5px;
	padding: 3px 2px 2px 22px;
}

.bigbutton a {
	background-repeat: no-repeat;
	font: 15px Arial, Sans-serif;
	text-align: center;
	text-decoration: none;
	margin: 0px 1px;
	padding: 4px 6px;
	border: 1px solid #FFFFFF;
	border-bottom: 1px solid #EBEBD8;
	float: left;
	display: none;
}
.bigbutton a:hover {
	background-color: #FCFCF8;
	text-decoration: none;
	border: 1px solid #EBEBD8;
}

/* Button-align */
#main .article span.big_button_align {
	margin: 5px 4px 4px;
	float: right;
}
#main .article select.big_button_align {
	margin: 3px;
	float: right;
}

/* Topic Icons */
#main .article div.topic_icon div {
	display: none;
}

/* Emotions */
#clickablesmilies div {
	margin: 5px 10px 10px 5px;
}
#clickablesmilies strong {
	background: #FCFCF8;
	padding: 5px;
	border: 1px #EBEBD8 solid;
	display: block;
}
#clickablesmilies ul {	
	padding: 0px 10px;
	margin: 10px 0px 0px;
}
#clickablesmilies ul li {
	padding: 2px;
	display: inline;
	list-style-type: none;
}
#quicksmilies strong {
	display: none;
}
#quicksmilies ul {
	padding: 0px; margin: 0px;
}
#quicksmilies ul li {
	padding: 2px;
	display: inline; 
	list-style-type: none;
}

/* Forum-specific Rules */
#main .article .head span,
#main .article .head strong {
	font: bold italic 13px Arial, Sans-serif;
	border-bottom: 1px solid #EBEBD8;
	margin: 0px 0px 3px;
	display: block;
	position: relative;
	width: 100%;
}
#main .article span {
	padding: 2px 0px;
}
#main .article .rounded_top span,
#main .article .rounded_bottom span {
	padding: 0px;
}
#main .article span.right {
	padding: 0px;
	float: right;
}
#main .article .left {
	padding: 0px;
	float: left;
}
#main .article span.icon,
#main .article div.topic_icon {
	display: none;;
}
#main .article p {
	height: 0px;
	margin: 0px;
	overflow: hidden;
	clear: both;
}
#main .article p.line {
	margin: 3px 0px;
	border-bottom: 1px solid #EBEBD8;
}
#main .article p.list_line {
	margin: 0px 0px 3px;
	border-bottom: 1px solid #EBEBD8;
}
#main .article .small_text {
	display: none;
}
#main .article .tiny {
	font: 10px Arial, Sans-serif;
}
#main .article span.notice {
	margin: 10px;
	padding: 1px 20px;
	float: left;
}

/* View Topic */
#main .article span.topic_description {
	font: bold 16px Arial, Sans-serif;
	margin: 4px 6px;
	float: left;
}
#main .article span.next_prev_topics {
	margin: 6px 10px 2px;
	float: right;
}

/* Quotes */
#main .article div.quotebox      {
	background: #FFFFFF url('./images/quote.png') top right no-repeat;
	padding: 3px 6px;
	border: 1px solid #EBEBD8;
}

/* Code */
#main .article div.code {
	background: #FFFFFF url('./images/code.png') top right no-repeat;
	width: 98%;
	padding: 3px 6px;
	border: 1px solid #EBEBD8;
}
#main .article div.phpcode {
	background-image: url('./images/code_php.png');
}
#main .article div.codetitle {
	font-weight: bold;
}
#main .article .codelines {
	width: 1em;
	color:#333333;
	font-family:"Courier New", Courier, serif;
	text-align: right;
	float: left;
	padding: 3px;
	overflow: auto;
}

/* Attachments */
#main .article div.filebox {
	background: #FFFFFF url('./images/attachment.png') top right  no-repeat;
	margin: 6px 0px 0px;
	padding: 3px 6px;
	border: 1px solid #EBEBD8;
}

/* Spoilers */
#main .article div.spoilerbox {
	background: #FFFFFF url('./images/spoiler.png') top right  no-repeat;
	padding: 3px 6px;
	border: 1px solid #EBEBD8;
}
#main .article div.spoilerbox .spoiler {
	color: #FFFFFF;
}

/* Postbit */
#main .article .hidden {
	display: none;
}
#main .article span.avatar {
	margin: 4px 4px 0px;
	overflow: hidden;
	float: left;
}
#main .article span.avatar br {
	display: none;
}
#main .article span.member_bits {
	display: none;
}
#main .article span.member_info {
	font: 11px Arial, Sans-serif;
	margin: 2px 7px 0px;
	float: left;
	height: 20px;
	overflow: hidden;
}
#main .article span.member_info strong {
	font: 22px Arial, Sans-serif;
}
#main .article span.member_info strong a:hover {
	text-decoration: none;
}
#main .article span.member_info img {
	display: none;
}
#main .article .rounded_top {
	display: none;
}
#main .article div.postbit {
	padding: 10px 2px 0px;
	display: block;
	margin: 0px;
	position: relative;
	overflow-y: hidden;
	overflow-x: auto;
}
#main .article div.postbit div.button {
	display: none;
}
#main .article div.postbit span.signature {
	font: 11px Arial, Sans-serif;
	margin: 2px 4px 0px;
	display: block;
}
#main .article div.postbit span.signature img {
	display: none;
}
#main .article span.posted {
	float: right;
	margin: 0px 2px 2px;
}

/* New Post */
#main .article div.form ul.post_icons {
	padding: 10px;
	margin: 0px;
}
#main .article div.form ul.post_icons li {
	display: inline;
	white-space: nowrap;
	list-style-type: none;
}

/* Messages */
#main .article span.delete {
	text-align: right;
	width: 9%;
	float: left;
}
#main .article span.message {
	width: 38%;
	float: left;
}

/* Forms */
#main .article span.field {
	font-weight: bold;
	width: 30%;
	margin: 5px 0px;
	float: left;
}
#main .article span.field span {
	font-weight: normal;
}
#main .article span.form,
#main .article div.form {
	width: 70%;
	float: left;
}

/* Profile */
#main #profile span.field {
	margin: 1px 0px 2px;
}

/* Search */
#main .article span.half {
	width: 48%;
	padding: 0px 2% 0px 0px;
	overflow: hidden;
	float: left;
}
#main .article span.search_forum {
	width: 8%;
	float: left;
}

/* Subscriptions */
#main .article span.quarter {
	width: 25%;
	float: left;
	padding: 0px 0px 4px;
}
#main .article span.quarter a {
	margin: 2px 0px 1px;
	float: left;
}

/* Edit Avatar */
#main .article div.avatar_dimensions {
	margin: 8px 3px 8px;
	float: left;
}
#main .article div.avatar_dimensions img {
	float: left;
}
#main .article div.avatar_dimensions span.text {
	width: 40px;
	float: left;
	margin: 2px 6px 0px;
}

/* Member List */
#main .article .center {
	text-align: center;
}
#main .article span.member {
	width: 18%;
	float: left;
}
#main .article span.nine {
	text-align: center;
	width: 11%;
	float: left;
}
#main .article span.group {
	text-align: center;
	width: 17%;
	float: left;
}

/* Index */
#main .article span.thread {
	width: 46%;
	margin: 0px 0px 2px;
	overflow-x: auto;
	float: left;
}
#main .article span.thread br {
	display: none;
}
#main .article span.thread a.forum {
	font: bold 16px Arial, Sans-serif;
	width: 100%;
	margin: 0px;
	padding: 2px 0px 1px;
	display: block; /* IE Hack */
}
#main .article span.thread a:hover {
	text-decoration: none;
}
#main .article span.number {
	text-align: center;
	width: 15%;
	padding: 2px 0px;
	float: left;
}
#main .article span.last_post {
	text-align: right;
	width: 24%;
	overflow-x: auto;
	float: left;
}

/* Recent Topics */
#main .article span.recent_topic {
	width: 38%;
	margin: 0px 0px 2px;
	overflow-x: auto;
	float: left;
}

/* Topics */
#main .article span.topic {
	width: 37%;
	margin: 0px 0px 2px;
	overflow-x: auto;
	float: left;
}
#main .article span.starter {
	width: 13%;
	margin: 0px 0px 2px;
	float: left;
	text-align: center;
}
#main .article span.topic_last_post {
	text-align: right;
	width: 20%;
	overflow-x: auto;
	float: left;
}
#main .article span.topic_last_post img {
	display: none;
}
#main .article a.mark_read {
	display: none;
}

/* Member CP */
#main .article div.avatar_settings .check {
	margin: 4px 2px 0px;
}

/* Topic Icon Key */
#main .article span.eight {
	display: none;
}
#main .article span.select_align {
	margin: 3px 3px;
	float: left;
}

/* Online Listing */
#main .article span.third {
	width: 32%;
	float: left;
}

/* Bottom */
#bottom {
	height: 1px;
	clear: both;
}

/* Footer */
#footer, #copyright {
	font: 10px Arial, Sans-serif;
	color: #161616;
	text-align: center;
	height: 12px;
	overflow: hidden;
	margin: 0px 0px 4px;
}
#footer a, #copyright a {
	color: #000000;
}